<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form method="post" action="http://localhost:8080/posts">
        <input placeholder="enter username" name="username"><br><br>
        <textarea placeholder="enter content" name="content"></textarea><br>
        <textarea rows="10" cols="35" placeholder="enter your photo path" name="image"></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>